<div id="animation" class="row">
    <div class="col-md-12">
        <% layout('../layout') -%>      
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">создать элементы</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 anm-block"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2 anm-block"></div>
            <div class="col-md-1"></div>
            <div class="col-md-2 anm-block"></div>
        </div><!-- /.row -->
    </div>
</div>