<div class="row">
    <div class="col-sm-12">
        <% layout('../layout') -%>                
        <div class="ui-field-contain">
          <label for="slider-3">Input slider:</label>
          <input type="range" name="slider-3" id="slider-3" value="25" min="0" max="100" data-theme="b" data-track-theme="a">
        </div>
    </div>
</div>