<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<div id="socket" class="row">
    <div class="col-sm-12">
        <% layout('../layout') -%>                
        <div id="socket" class="row">
            <div class="col-lg-6">
                <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go socket!</button>
                </span>
                <input type="text" class="form-control">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>