<div id="verstka-css" class="row">
    <div class="col-sm-12">
        <% layout('../layout') -%>                
        <div class="row">
            <div class="col-md-12 text-center wrap-parent">
                <div class="parent text-center">
                    <div class="child"></div>
                </div>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>