<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/css/all.min.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">    
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Neiro city</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">               
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Номера заданий
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/">Задание №1</a>
                  <a class="dropdown-item" href="/canvas">Задание №2</a>
                  <a class="dropdown-item" href="/common">Задание №3</a>
                  <a class="dropdown-item" href="/user-factory">Задание №4</a>
                  <a class="dropdown-item" href="/ajax">Задание №5</a>
                  <a class="dropdown-item" href="/socket">Задание №6</a>
                  <a class="dropdown-item" href="/verstka-css">Задание №7 CSS</a>
                  <a class="dropdown-item" href="/verstka-js">Задание №7 JS</a>
                  <a class="dropdown-item" href="/verstka-html">Задание №7 HTML ONE PAGE</a>
                  <a class="dropdown-item" href="/animation">Задание №8</a>
                  <a class="dropdown-item" href="/random">Задание №9</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>  
    </div>        
  </div>

  <div class="container">
    <%- body -%>
  </div>
  
  <script src="/dist/js/all.min.js"></script>
</body>
</html>